* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #f5f5f5;
    max-width: 1000px;
    margin: 0 auto;
}

.main-container {
    background-color: #ffffff;
}
.nav-head {
    border: 2px solid #bbb;
}
/* NAVBAR */
.navbar {
    background: #fff;
    padding: 15px;
}

.logo { float: left; font-size: 20px;
}

.nav-links {
    float: left;
    margin: 12px 0 0 24px;    
    list-style: none;
}
.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 500;
}
.nav-links li { 
    display: inline-block; 
    margin: 0 48px 0 48px;
}

.nav-links a:hover { 
    color: red; 
}

.active { 
    color: red !important; 
    font-weight: bold !important; 
}

.search-box { 
    float: right; 
    margin: 6px 0 6px 0;
}

input[type="text"] { padding: 5px; border: 1px solid #aaa; 
}

.clear { clear: both; 
}

/* HERO */
.hero {
    background: #fff;
    margin: 20px;
    padding: 72px 24px 24px 24px;
    border: 2px solid #bbb;
    overflow: hidden;
    
}

/* LEFT SIDE TEXT */
.hero-text {
    float: left;
    width: 60%;
}

.hero-text h1 {
    font-size: 42px;
    margin-bottom: 24px;
    color: #444;
}

.hero-text p {
    font-size: 16px;
    line-height: 1.7;
    color: #555;
    margin-bottom: 24px;
    max-width: 90%;
    margin-top: 32px;
}


.hero-text button {
    display: block;        
    background: orangered;
    color: #fff;
    border: none;
    padding: 12px 22px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 56px;
}

/* RIGHT SIDE IMAGE */
.hero-img {
    float: right;
    width: 40%;
}

.hero-img img {
    width: 100%;
    height: 260px;
}


button:hover { transform: scale(1.1); 
}

/* CARDS */
.card-box {
    border: 2px solid #bbb;
    margin: 20px;
    padding: 48px 20px 32px 20px;
    background: #fff;
}

.card {
    float: left;
    width: 33.33%;
    padding: 20px;
}

/* Image styling */
.card-img {
    width: 100%;
    height: 180px;        
    margin-bottom: 24px;
}


.card h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.card p {
    font-size: 15px;
    color: #444;
    margin-bottom: 16px;
    margin-top: 24px;
}


.card a {
    color: orangered;
    text-decoration: none;
    font-weight: bold;
}


.card a:hover { text-decoration: underline; 
}

/* FOOTER */
.footer {
    border: 2px solid #bbb;
    background: #fff;
    padding: 32px 48px;
}


.footer-top {
    margin-bottom: 15px;
}

.footer-logo {
    float: left;
}

.footer-logo img {
    width: 72px;
    height: 24px;
}

.links {
    float: left;
    margin-left: 180px;
    list-style: none;
}

.links li {
    display: inline-block;
    margin-right: 40px;
}

.links a {
    text-decoration: none;
    color: #333;
}

.links a:hover {
    color: orangered;
}

/* Social Icons */
.footer-apps {
    float: right;
}

.footer-apps i {
    margin-left: 15px;
    font-size: 18px;
    color: #333;
}

.footer-apps i:hover {
    color: orangered;
}

/* BOTTOM ROW */
.footer-bottom {
    padding-top: 40px;
    margin-left: 160px;
}

.footer-bottom p {
    float: left;
    color: orangered;
    font-weight: 700;
}
.footer-bottom a {
    margin-left: 25px;
    text-decoration: none;
    color: orangered;
    font-weight: 700;
}




.clear {
    clear: both;
}

footer a:hover { text-decoration: underline; 
}

/* ANIMATION */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.hero, .card { animation: fadeIn 1s ease-in; }
